<div id="v02050">
    <h2>应急资源</h2>
    <div class="topDiv">
        <table>
            <thead>
                <tr>
                    <th>物资类型</th>
                    <th>调度中</th>
                    <th>空闲</th>
                    <th>资源总量</th>
                </tr>
            </thead>
            <tbody id="v02050_emergencyRes">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottomDiv">
        <div class="mytitle">
            <h3>网络投诉量</h3>
            <span>截止<span id="v02050_time"></span></span>
        </div>
        <div class="content">
            <div id="v02050_pieChart"></div>
            <div id="v02050_detialChartBg" class="detail">
                <div id="v02050_detialChart"></div>
            </div>
        </div>
    </div>
</div>