<div id="v02010">
    <div class="topDiv">
        <div id="myCarousel3" data-interval=15000 class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#" data-slide-to="0" class="active"></li>
                <li data-target="#" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="mytitle">用户数(万)</div>
                    <div class="mytime">截止<span id="v02010_userTime"></span></div>
                    <div class="content">
                        <div class="gsmDiv">
                            <img src="assets/images/app2/v02010_2g.png">
                            <div class="value"><label id="gsmUserNum"></label></div>
                        </div>
                        <div class="tdDiv">
                            <img src="assets/images/app2/v02010_3g.png">
                            <div class="value"><label id="tdUserNum"></label></div>
                        </div>
                        <div class="lteDiv">
                            <img src="assets/images/app2/v02010_4g.png">
                            <div class="value"><label id="lteUserNum"></label></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="mytitle">上网用户数(万)</div>
                    <div class="mytime">截止<span id="v02010_netUsertime"></span></div>
                    <div class="content">
                        <div class="gsmDiv">
                            <img src="assets/images/app2/v02010_2gNet.png">
                            <div class="value"><label id="gsmNetNum"></label></div>
                        </div>
                        <div class="tdDiv">
                            <img src="assets/images/app2/v02010_3gNet.png">
                            <div class="value"><label id="tdNetNum"></label></div>
                        </div>
                        <div class="lteDiv">
                            <img src="assets/images/app2/v02010_4gNet.png">
                            <div class="value"><label id="lteNetNum"></label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mycarousel-control3">
                <a class="cleft" id="cleft3" href="#myCarousel3" data-slide="prev"><img alt="向左" title="向左" src="assets/images/v01030/left.png"></a>
                <a class="cmiddle" id="cmiddle3" href="javascript:void(0);"><img alt="控制" title="控制" id="img3" src="assets/images/v01030/pause.png"></a>
                <a class="cright" id="cright3" href="#myCarousel3" data-slide="next"><img alt="向右" title="向右" src="assets/images/v01030/right.png"></a>
            </div>
        </div>
    </div>
    <div class="bottomDiv">
        <div>
            <label>影响家客用户数</label>
            <label id="yxjkUsrCnt"></label>
        </div>
        <div>
            <label>集客专线中断数</label>
            <label id="jkzxErrCnt"></label>
        </div>
    </div>
</div>