<div class="v01030" id="v01030">
	<div class="v01030_mytitle" id="v01030_title">业务</div>
	<div id="myCarousel1" data-interval=15000 class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#" data-slide-to="0" class="active"></li>
            <li data-target="#" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" style="top: 13px;width: 1264px;height: 440px;">
            <div class="item active v01030bg">
                <div class="v01030_title" id="volte_title">VOLTE</div>
                <div class="v01030_title" id="kd_title">宽带</div>
                <div class="v01030_webType">
                    <span>2G</span>
                    <span>3G</span>
                    <span>4G</span>
                </div>
                <div class="volte_value">
                   <div>
                        <span>活跃</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="volte_user_num">0</span>
                        <span id="volte_user_rate">0</span>
                   </div>
                   <div id="volte_user_rate_img"></div>
			    </div>
                <div class="kd_value">
                    <div>
                        <span>当前</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="broadband_user_num">0</span>
                        <span id="broadband_user_rate">0</span>
                   </div>
                   <div id="broadband_user_rate_img" class="down_img"></div>
			    </div>
			    <div class="gsm_value">
			       <div>
                        <span>上网</span>
                        <span>累计</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="gsm_user_num">0</span>
                        <span id="gsm_adduser_num">0</span>
                        <span id="gsm_user_rate">0</span>
                   </div>
                   <div id="gsm_user_rate_img" class="down_img"></div>
                </div>
                <div class="td_value">
                    <div>
                        <span>上网</span>
                        <span>累计</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="td_user_num">0</span>
                        <span id="td_adduser_num">0</span>
                        <span id="td_user_rate">0</span>
                   </div>
                   <div id="td_user_rate_img" class="down_img"></div>
                </div>
                <div class="lte_value">
                    <div>
                        <span>上网</span>
                        <span>累计</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="lte_user_num">0</span>
                        <span id="lte_adduser_num">0</span>
                        <span id="lte_user_rate">0</span>
                   </div>
                   <div id="lte_user_rate_img" class="down_img"></div>
                </div>
            </div>
            <div class="item v01030bg">
                <div class="v01030_title" id="volte_title">WLAN</div>
                <div class="v01030_title" id="kd_title">HITV</div>
                <div class="v01030_webType">
                    <span>2G</span>
                    <span>3G</span>
                    <span>4G</span>
                </div>
                <div class="wlan_value">
                    <div>当前</div>
                    <div id="wlan_user_num">0</div>
			    </div>
                <div class="hitv_value">
                    <div>当前</div>
                    <div id="hitv_user_num">0</div>
                </div>
                <div class="gsm_value">
                   <div>
                        <span>上网</span>
                        <span>累计</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="gsm_user_num1">0</span>
                        <span id="gsm_adduser_num1">0</span>
                        <span id="gsm_user_rate1">0</span>
                   </div>
                   <div id="gsm_user_rate_img1" class="down_img"></div>
                </div>
                <div class="td_value">
                    <div>
                        <span>上网</span>
                        <span>累计</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="td_user_num1">0</span>
                        <span id="td_adduser_num1">0</span>
                        <span id="td_user_rate1">0</span>
                   </div>
                   <div id="td_user_rate_img1" class="down_img"></div>
                </div>
                <div class="lte_value">
                    <div>
                        <span>上网</span>
                        <span>累计</span>
                        <span>较昨日</span>     
                   </div>
                   <div>
                        <span id="lte_user_num1">0</span>
                        <span id="lte_adduser_num1">0</span>
                        <span id="lte_user_rate1">0</span>
                   </div>
                   <div id="lte_user_rate_img1" class="down_img"></div>
                </div>
            </div>
        </div>
        <div class="mycarousel-control">
            <a class="cleft" href="#myCarousel1" data-slide="prev"><img alt="向左" title="向左" src="assets/images/v01030/left.png"></a>
            <a class="cmiddle" id="cmiddle" href="javascript:void(0);"><img alt="控制" title="控制" id="img" src="assets/images/v01030/play.png"></a>
            <a class="cright" href="#myCarousel1" data-slide="next"><img alt="向右" title="向右" src="assets/images/v01030/right.png"></a>
        </div>
    </div>
    
    <div id="myCarousel2" data-interval=15000 class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#" data-slide-to="0" class="active"></li>
            <li data-target="#" data-slide-to="1"></li>
            <li data-target="#" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="width: 1264px; height: 589px;">
            <div class="item active">
                <div class="v01030_title" id="hw_title">2/3G话务量(Erl)</div>
                <div id="hw_chart"></div>
                <div class="v01030_title" id="hwlj_title">2/3G累计话务量(万Erl)</div>
                <div id="hwlj_chart"></div>
                <p class="value_title" id="gsm_hwlj_title">2G:</p>
                <p class="chart_value" id="gsm_hwlj_value">0</p>
                <p class="value_title" id="td_hwlj_title">3G:</p>
                <p class="chart_value" id="td_hwlj_value">0</p>
            </div>
            <div class="item">
                <div class="v01030_title" id="ll_title">2/3/4G流量(GB)</div>
                <div id="ll_chart"></div>
                <div class="v01030_title" id="lllj_title">2/3/4G累计流量(TB)</div>
                <div id="lllj_chart"></div>
                <p class="value_title" id="gsm_lllj_title">2G:</p>
                <p class="chart_value" id="gsm_lllj_value">0</p>
                <p class="value_title" id="td_lllj_title">3G:</p>
                <p class="chart_value" id="td_lllj_value">0</p>
                <p class="value_title" id="lte_lllj_title">4G:</p>
                <p class="chart_value" id="lte_lllj_value">0</p>
            </div>
            <div class="item">
                <div class="v01030_title" id="dx_title2">瞬时短信(条)</div>
                <div id="dx_chart"></div>
                <div id="dx_img"></div>
                <div id="dx_value">
                    <p class="value_title">同比</p>
	                <P class="up_img" id="dx_rate_img"></P>
	                <p id="moment_sms_rate">0%</p>
	                <p class="value_title" id="dx_title">累计短信(万条)</p>
	                <div class="v01030_chart_valueDiv"><label class="chart_value" id="accu_sms_num">0</label></div>
                </div>
                
            </div>
        </div>
        <div class="mycarousel-control2">
            <a class="cleft2" href="#myCarousel2" data-slide="prev"><img alt="向左" title="向左" src="assets/images/v01030/left.png"></a>
            <a class="cmiddle2" id="cmiddle2" href="javascript:void(0);"><img alt="控制" title="控制" id="img2" src="assets/images/v01030/pause.png"></a>
            <a class="cright2" href="#myCarousel2" data-slide="next"><img alt="向右" title="向右" src="assets/images/v01030/right.png"></a>
        </div>
    </div>
    <div class="v01030_startTimeDiv">
          <span>截止时间:&nbsp;&nbsp;</span><span id="v01030_startTime"></span>
    </div>
</div>