<div class="v01010" id="v01010">
	<label class="v01010-title">故障</label>
	<div class="v01010-bts-tf">
		<label class="v01010-btstf-title v01010-font30">基&nbsp;站&nbsp;退&nbsp;服&nbsp;数</label>
		<label class="v01010-2g v01010-font25">2&nbsp;G</label>
		<div class="v01010-2g-value"><label id="g2" class="v01010-font32-yellow"></label></div>
		<label class="v01010-font25 v01010-3g">3&nbsp;G</label>
		<div class="v01010-3g-value"><label id="g3" class="v01010-font32-yellow"></label></div>
		<label class="v01010-4g v01010-font25">4&nbsp;G</label>
		<div class="v01010-4g-value"><label id="g4" class="v01010-font32-yellow"></label></div>
		
		<label class="v01010-td v01010-font25" >停电基站数</label>
        <div class="v01010-td-value"><label id="v01010-td-value" class="v01010-font32-yellow"></label></div>
        
        <label class="v01010-zd v01010-font25" >光路中断数</label>
        <div class="v01010-zd-value"><label id="v01010-zd-value" class="v01010-font32-yellow"></label></div>
	</div>
	<div class="v01010-alarm">
		<label class="v01010-alarm-title v01010-font30">全网告警工单</label>
		<div class="v01010-alarm-remove">
			<label class="v01010-allAlarm v01010-font25">全量告警</label>
			<span class="v01010-alarm-value-span"><label class="v01010-font32-yellow" id="v01010-alarm-value">0</label></span>
			
			<label class="v01010-bzAlarm v01010-font25">标准化告警</label>
			<span class="v01010-bzalarm-value-span"><label class="v01010-font32-yellow v01010-font-28" id="v01010-bzalarm-value">0</label></span>
			
			<label class="v01010-fgcAlarm v01010-font25">非工程告警</label>
			<span class="v01010-fgcalarm-value-span"><label class="v01010-font32-yellow v01010-font-26" id="v01010-fgcalarm-value">0</label></span>
			
			<label class="v01010-pdAlarm v01010-font25">派单告警</label>
			<span class="v01010-pdalarm-value-span"><label class="v01010-font32-yellow v01010-font-24" id="v01010-pdalarm-value">0</label></span>
			
			<label class="v01010-ssAlarm v01010-font25">工单</label>
			<span class="v01010-ssalarm-value-span"><label class="v01010-font32-yellow v01010-font-22" id="v01010-ssalarm-value">0</label></span>
			
			<label class="v01010-gjbz v01010-font22" >告警标准化</label>
			<span class="v01010-gjbz-value-span"><label class=" v01010-font32-yellow" id="v01010-gjbz-value">0</label></span>
			
			<label class="v01010-gcpb v01010-font22" >工程屏蔽</label>
			<span class="v01010-gcpb-value-span"><label class=" v01010-font32-yellow" id="v01010-gcpb-value">0</label></span>
			
			<label class="v01010-gjgl v01010-font22" >告警关联</label>
			<span class="v01010-gjgl-value-span"><label class=" v01010-font32-yellow" id="v01010-gjgl-value">0</label></span>
			
			<label class="v01010-pdgz v01010-font22" >派单规则</label>
			<span class="v01010-pdgz-value-span"><label class="v01010-font32-yellow" id="v01010-pdgz-value">0</label></span>
		</div>
	</div>
	
	<div class="v01010-workOrder">
		<label class="v01010-T1 v01010-font25">T1工单量</label>
		<div class="v01010-T1-value"><label class="v01010-font32-yellow" id="v01010-T1-value">0</label></div>
		
		<label class="v01010-T2 v01010-font25">T2工单量</label>
		<div class="v01010-T2-value"><label class="v01010-font32-yellow" id="v01010-T2-value">0</label></div>
		
		<label class="v01010-gd v01010-font25">待归档工单量</label>
		<div class="v01010-gd-value"><label class="v01010-font32-yellow" id="v01010-gd-value">0</label></div>
		
		<label class="v01010-alarm-pd v01010-font25">告警派单比</label>
		<div class="v01010-alarm-pd-value"><label class="v01010-font32-yellow" id="v01010-alarm-pd-value">0</label></div>
	</div>
	
	<div class="v01010_startTimeDiv">
	      <span>截止时间:&nbsp;&nbsp;</span><span id="v01010_startTime"></span>
	</div>
</div>