<div id="v02040">
    <h2>性能指标(%)</h2>
    <span class="mytime">截止<span id="v02040_time"></span></span>

    <div class="topDiv">
        <div id="myCarousel5" data-interval=15000 class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#" data-slide-to="0" class="active"></li>
                <li data-target="#" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div>
                        <span>2G无线掉话率</span>
                        <label id="v02040_2gwxdhlIcon"></label>
                        <span id="v02040_2gwxdhl">1.34%</span>
                    </div>
                    <div>
                        <span>2G无线拥塞率</span>
                        <label id="v02040_2gwxyslIcon"></label>
                        <span id="v02040_2gwxysl">3.75%</span>
                    </div>
                    <div>
                        <span>2G无线接通率</span>
                        <label id="v02040_2gwxjtlIcon"></label>
                        <span id="v02040_2gwxjtl">97.82%</span>
                    </div>
                    <div>
                        <span>3G无线掉线率</span>
                        <label id="v02040_3gwxdxlIcon"></label>
                        <span id="v02040_3gwxdxl">2.76%</span>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <span>3G无线掉话率</span>
                        <label id="v02040_3gwxdhlIcon"></label>
                        <span id="v02040_3gwxdhl">6.34%</span>
                    </div>
                    <div>
                        <span>4G无线接通率</span>
                        <label id="v02040_4gwxjtlIcon"></label>
                        <span id="v02040_4gwxjtl">33.75%</span>
                    </div>
                    <div>
                        <span>4G无线掉线率</span>
                        <label id="v02040_4gwxdxlIcon"></label>
                        <span id="v02040_4gwxdxl">67.82%</span>
                    </div>
                    <div>
                        <span>4G寻呼成功率</span>
                        <label id="v02040_4gxhcglIcon"></label>
                        <span id="v02040_4gxhcgl">12.76%</span>
                    </div>
                </div>
            </div>
            <div class="mycarousel-control5">
                <a class="cleft" id="cleft5" href="#myCarousel5" data-slide="prev"><img alt="向左" title="向左" src="assets/images/v01030/left.png"></a>
                <a class="cmiddle" id="cmiddle5" href="javascript:void(0);"><img alt="控制" title="控制" id="img5" src="assets/images/v01030/pause.png"></a>
                <a class="cright" id="cright5" href="#myCarousel5" data-slide="next"><img alt="向右" title="向右" src="assets/images/v01030/right.png"></a>
            </div>
        </div>
    </div>
    <div class="bottomDiv">
        <div id="myCarousel6" data-interval=15000 class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#" data-slide-to="0" class="active"></li>
                <li data-target="#" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <h2>MSC负荷最高的网元TOP5</h2>
                    <div>
                        <span id="v02040_mscTop5Name1"></span>
                        <div id="v02040_mscTop5Label1"></div>
                        <span id="v02040_mscTop5Value1"></span>
                    </div>
                    <div>
                        <span id="v02040_mscTop5Name2"></span>
                        <div id="v02040_mscTop5Label2"></div>
                        <span id="v02040_mscTop5Value2"></span>
                    </div>
                    <div>
                        <span id="v02040_mscTop5Name3"></span>
                        <div id="v02040_mscTop5Label3"></div>
                        <span id="v02040_mscTop5Value3"></span>
                    </div>
                    <div>
                        <span id="v02040_mscTop5Name4"></span>
                        <div id="v02040_mscTop5Label4"></div>
                        <span id="v02040_mscTop5Value4"></span>
                    </div>
                    <div>
                        <span id="v02040_mscTop5Name5"></span>
                        <div id="v02040_mscTop5Label5"></div>
                        <span id="v02040_mscTop5Value5"></span>
                    </div>
                </div>
                <div class="item">
                    <h2>MGW负荷最高的网元TOP5</h2>
                    <div>
                        <span id="v02040_mgwTop5Name1"></span>
                        <div id="v02040_mgwTop5Label1"></div>
                        <span id="v02040_mgwTop5Value1"></span>
                    </div>
                    <div>
                        <span id="v02040_mgwTop5Name2"></span>
                        <div id="v02040_mgwTop5Label2"></div>
                        <span id="v02040_mgwTop5Value2"></span>
                    </div>
                    <div>
                        <span id="v02040_mgwTop5Name3"></span>
                        <div id="v02040_mgwTop5Label3"></div>
                        <span id="v02040_mgwTop5Value3"></span>
                    </div>
                    <div>
                        <span id="v02040_mgwTop5Name4"></span>
                        <div id="v02040_mgwTop5Label4"></div>
                        <span id="v02040_mgwTop5Value4"></span>
                    </div>
                    <div>
                        <span id="v02040_mgwTop5Name5"></span>
                        <div id="v02040_mgwTop5Label5"></div>
                        <span id="v02040_mgwTop5Value5"></span>
                    </div>
                </div>
            </div>
            <div class="mycarousel-control6">
                <a class="cleft" id="cleft6" href="#myCarousel6" data-slide="prev"><img alt="向左" title="向左" src="assets/images/v01030/left.png"></a>
                <a class="cmiddle" id="cmiddle6" href="javascript:void(0);"><img alt="控制" title="控制" id="img6" src="assets/images/v01030/pause.png"></a>
                <a class="cright" id="cright6" href="#myCarousel6" data-slide="next"><img alt="向右" title="向右" src="assets/images/v01030/right.png"></a>
            </div>
        </div>
    </div>
</div>