<div id="v02020">
    <div class="topDiv threeDiv">
        <div>
            <h2>短信</h2>
            <div><span>当前&nbsp;&nbsp;</span><span id="v02020_dxVal"></span><span>万条</span></div>
            <div>
                <div id="v02020_dxIcon"></div>
                <div><span>上周值</span><span id="v02020_dxWeekVal"></span></div>
                <div><span>环比增幅</span><span id="v02020_dxComRate"></span></div>
            </div>
        </div>
        <div id="v02020_dxchart"></div>
    </div>
    <div id="myCarousel4" data-interval=15000 class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#" data-slide-to="0" class="active"></li>
            <li data-target="#" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="midDiv threeDiv">
                    <div>
                        <h2>长途话务量</h2>
                        <div><span>当前&nbsp;&nbsp;</span><span id="v02020_cthwlVal"></span><span>万Erl</span></div>
                        <div>
                            <div id="v02020_cthwlIcon"></div>
                            <div><span>上周值</span><span id="v02020_cthwlWeekVal"></span></div>
                            <div><span>环比增幅</span><span id="v02020_cthwlComRate"></span></div>
                        </div>
                    </div>
                    <div id="v02020_cthwlchart"></div>
                </div>
                <div class="bottomDiv threeDiv">
                    <div>
                        <h2>LTE流量</h2>
                        <div><span>当前&nbsp;&nbsp;</span><span id="v02020_ltellVal"></span><span>GB</span></div>
                        <div>
                            <div id="v02020_ltellIcon"></div>
                            <div><span>上周值</span><span id="v02020_ltellWeekVal"></span></div>
                            <div><span>环比增幅</span><span id="v02020_ltellComRate"></span></div>
                        </div>
                    </div>
                    <div id="v02020_ltellchart"></div>
                </div>
            </div>
            <div class="item">
                <div class="midDiv threeDiv">
                    <div>
                        <h2>话务量</h2>
                        <div><span>当前&nbsp;&nbsp;</span><span id="v02020_hwlVal"></span><span>万Erl</span></div>
                        <div>
                            <div id="v02020_hwlIcon"></div>
                            <div><span>上周值</span><span id="v02020_hwlWeekVal"></span></div>
                            <div><span>环比增幅</span><span id="v02020_hwlComRate"></span></div>
                        </div>
                    </div>
                    <div id="v02020_hwlchart"></div>
                </div>
                <div class="bottomDiv threeDiv">
                    <div>
                        <h2>分组域流量</h2>
                        <div><span>当前&nbsp;&nbsp;</span><span id="v02020_fzyllVal"></span><span>GB</span></div>
                        <div>
                            <div id="v02020_fzyllIcon"></div>
                            <div><span>上周值</span><span id="v02020_fzyllWeekVal"></span></div>
                            <div><span>环比增幅</span><span id="v02020_fzyllComRate"></span></div>
                        </div>
                    </div>
                    <div id="v02020_fzyllchart"></div>
                </div>
            </div>
        </div>
        <div class="mycarousel-control4">
            <a class="cleft" id="cleft4" href="#myCarousel4" data-slide="prev"><img alt="向左" title="向左" src="assets/images/v01030/left.png"></a>
            <a class="cmiddle" id="cmiddle4" href="javascript:void(0);"><img alt="控制" title="控制" id="img4" src="assets/images/v01030/pause.png"></a>
            <a class="cright" id="cright4" href="#myCarousel4" data-slide="next"><img alt="向右" title="向右" src="assets/images/v01030/right.png"></a>
        </div>
    </div>
</div>